/* ==UserStyle==
@name           长大信息门户美化
@namespace      lollipopnougat.top
@version        1.0.0
@description    信息门户美化 434行用户头像模糊
@author         LNP
==/UserStyle== */
@-moz-document domain("portal.chd.edu.cn") {
    /*   435行开启了用户头像模糊可以选择该行 手动注释掉 （ctrl+/）   */
    /* 淡入动画 */
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        /*初始状态 透明度为0*/
        10% {
            opacity: 0;
        }
        /*过渡状态 透明度为0*/
        100% {
            opacity: 1;
        }
        /*结束状态 透明度为1*/
    }

    @-webkit-keyframes fade-in {
        /*针对webkit内核*/
        0% {
            opacity: 0;
        }
        10% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* 顶部背景 */
    #headerFrame {
        z-index: 500;
        height: 210px;
        background: #009670;
    }

    #header {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 210px;
        background: #009670;
        box-shadow: darkgrey 3px 3px 10px 1px;
    }

    /* 搜索框 */
    #searchArea {
        background: rgba(0, 0, 0, 0);
    }


    .ipt {
        margin-top: 0px;
        color: #65ebb8 !important;
        width: 260px;
        line-height: 40px !important;
        font-size: 16px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #c1fff9 !important;
        transition: all 0.2s ease-out 0s;
    }

    .ipt:focus {
        /*         border-top: none !important;
        border-left: none !important;
        border-right: none !important; */
        border-bottom: 2px solid #c1fff9 !important;
    }

    /* 页脚 */
    #footer {

        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        clear: both;
        background: #009670;
        height: 65px;
    }

    #board a {
        color: #fff;
        transition: all 0.2s ease-out 0s;
    }

    #board li#setting {
        color: #fff;
        transition: all 0.2s ease-out 0s;
        cursor: pointer;
    }

    /* 控制面板弹出式div */
    div.operation-dd-outer {
        background: #fff;
        box-shadow: darkgrey 3px 3px 10px 1px;
        border-radius: 10px;
        width: 150px!important;
        right: 150px!important;
    }

    div.operation-dd-inner {

        background: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

    /* 最顶部个人信息 */
    #board li#setting:hover {
        color: #ffdf00;
    }

    #board li#setting:active {
        color: #b49e00;
    }

    #board a:hover {
        color: #ffdf00;
    }

    #board a:active {
        color: #b49e00;
    }
    #board {
        color: #fff;
    }

    /* 插入按钮的样式 */
    #btnbtnbtn {
        display: inline-block;
        margin-top: 25px;
        margin-left: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
        color: #ffff;
        background-color: #ff8a80;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        font-family: Consolas;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        outline: 0;
        padding: 8px 16px;
        overflow: hidden;
        text-decoration: none;
        transition: all 0.5s ease-out 0s;
        border-radius: 2px;
    }

    #btnbtnbtn:hover {
        background-color: #b35052;
        color: #ddd;
        border-radius: 25px;
    }

    #btnbtnbtn:active {
        color: #eee;
        background-color: #ff7c31;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 1px;
    }

    /* 通知公告 */
    li.rss-title a {
        color: #222;
        transition: all 0.5s ease-out 0s;
    }

    li.rss-title a:hover {
        color: #ff8a00;
    }

    /* 问题反馈表格部分 */
    .portlet-table thead tr,
    tbodu tr {
        transition: all 0.2s ease-out 0s;
        /*         padding: 0 10px 0 10px; */
    }

    .portlet-table thead {
        /*         background: #6fbfab; */
        /*         border: solid #333 2px ; */
        font-weight: 800;
    }

    thead tr td {
        font-weight: 800;
        font-size: 1em;
        padding-left: 5px;
    }

    .portlet-table {
        border: none;
    }

    .portlet-table-even {
        background: #fff;
        transition: all 0.2s ease-out 0s;
    }

    .portlet-table-over {
        background-color: #c7e0c2!important;
    }

    thead tr.portlet-table-over {
        background-color: #eaffe6!important;
    }

    .portlet-table td a {
        transition: all 0.5s ease-out 0s;
        color: #219b08;
        text-decoration: none;
    }

    .portlet-table td a:hover {
        color: #ffa81e;
        text-decoration: none;
    }

    #porletsLayout td {
        padding-left: 5px;
    }

    .portlet-table-down {
        background: rgba(0, 0, 0, 0);
        font-weight: 800;
    }

    .portlet-table td {
        /*         border-bottom: 1px dotted #D7D7D7; */
        border: none;
        color: #222;
    }

    .portlet-table-odd {
        background: #f5fdf8;
    }

    .currentUserNum {
        color: #fff;
    }

    /* 问题反馈底部导航 */
    .pagination-info a,
    .pagination-info div,
    .pagination-info span,
    .pagination-info li {
        display: block;
        float: left;
        border: none;
        /*         border: 1px solid #DFE2E7; */
        padding: 2px 6px;
        margin: 0 2px;
        cursor: default;
    }

    div.pagination-info a {
        transition: all 0.5s ease-out 0s;
        color: #222;
        cursor: pointer;
    }

    div.pagination-info a:hover {
        color: #eee;
        background: #009670;
        border-radius: 10px;
    }

    .pagination-info div,
    .pgCurrent {
        font-weight: bold;
        color: #009670;
        background: #eee;
        border-radius: 10px;
    }

    /* 推荐服务 */
    div.isp-services-panel ul li {
        padding: 5px;
    }

    div.isp-services-panel ul li a.isp-service-item {
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
        text-align: center;
        display: block;
        background: #fff;
        width: 90px;
        height: 90px;
        border: none;
        color: #000000;
        position: relative;
        border-radius: 12px;
    }

    div.isp-services-panel ul li a.isp-service-item:hover {

        /*         border: 1px solid #B5DAFF;
        background-color: #F4FAFF; */
        box-shadow: darkgrey 2px 2px 5px 1px;
        text-decoration: underline;
        border: none;
        background: #fff;
        color: #FF6600;
    }

    div.isp-services-panel ul li a.isp-service-item:active {

        /*         border: 1px solid #B5DAFF;
        background-color: #F4FAFF; */
        box-shadow: darkgrey 1px 1px 2px 1px;
        color: #ff8c00;
        border: none;
        background: #f3fff2;
    }

    /* 导航 */
    #topnav li.current {
        border-bottom: 4px solid #fc0!important;
    }

    #topnav li.hover a.first-level {
        transition: border-color 1.5s ease-out 0s;
        border-bottom: 4px solid #fc0!important;
    }

    /* 返回顶部图片 */
    #topcontrol img {
        transition: all 0.5s ease-out 0s;
        filter: hue-rotate(310deg) brightness(120%)!important;
        box-shadow: darkgrey 3px 3px 10px 1px;
    }
    #topcontrol img:hover {
        filter: hue-rotate(310deg) brightness(150%)!important;
        box-shadow: darkgrey 7px 7px 20px 3px;
    }

    #topcontrol img:active {
        filter: hue-rotate(310deg) brightness(100%)!important;
        box-shadow: darkgrey 5px 5px 15px 2px;
    }

    /* 下拉选择框 */
    select {
        display: inline-block;
        width: 200px;
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        background-color: #fff;
        color: #555;
        text-shadow: none;
        border-radius: 4px;
        transition: box-shadow 0.25s ease;
        z-index: 2;
        cursor: pointer;
        padding: 10px;
        border: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    select:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

    .select:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #ccc;
        top: 14px;
        right: 10px;
        cursor: pointer;
        z-index: -2;
    }

    select:focus {
        outline: none;
    }

    /* 校园邮箱 */
    font {
        color: #00a2ff;
        transition: all 0.2s ease-out 0s;
    }
    
    font:hover {
        color: #0059d2;
    }

    /* 全局卡片化 */
    div.portletContent {
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.85);
        box-shadow: darkgrey 3px 3px 10px 1px;
        transition: all 0.3s ease-out 0s;
    }

    div.portletContent:hover {

        box-shadow: darkgrey 7px 7px 20px 3px;
    }

    div.portletContent:active {

        box-shadow: darkgrey 5px 5px 15px 2px;
    }

    /* 卡片的控制按钮 */
    div.toolButton {
        animation: fade-in;
        animation-duration: 1s;
        -webkit-animation: fade-in 1.5s;
        transition: all 0.5s ease-out 0s;
    }

    /* 个人相片模糊 */
    table.composer_header tbody tr td div img {
        filter: blur(20px);
    }

    /* 业务直通车 */
    table.imageLinks tbody tr td {

        padding: 3px !important;
    }

    table.imageLinks tbody tr td table {
        transition: all 0.3s ease-out 0s;
        /*         width: 50% !important; */
        width: 90px !important;
        height: 90px !important;
        padding-left: 0px !important;
        ;
        padding-right: 0px !important;
        ;
        text-align: center;
        margin: auto auto;
        border-radius: 12px;
    }

    table.imageLinks tbody tr td table:hover {
        box-shadow: darkgrey 2px 2px 5px 2px;
    }

    table.imageLinks tbody tr td table:active {
        box-shadow: darkgrey 1px 1px 2px 1px;
        background: #f6fff5;
    }
}