.viewbox {
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
  grid-template-rows: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
}
.cell {
  text-align: center;
  display: block;
  width: 90%;
  height: 90%;
  background: #0d81e0;
}
.cell-input {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #eeeeee;
  font-size: 3vw;
  border: none;
}
.left-border {
  border-left: 1px solid #000000;
}
.right-border {
  border-right: 1px solid #000000;
}
.top-border {
  border-top: 1px solid #000000;
}
.bottom-border {
  border-bottom: 1px solid #000000;
}
