div.support {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

div.support>textarea {
	width: 30em;
	height: 12em;
	margin: 1em;
}

div.support>.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

button.sup-btn {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	background-color: #ff8a80;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	font-family: Consolas;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	outline: 0;
	padding: 8px 16px;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.5s ease-out 0s;
	border-radius: 2px;
}

button.sup-btn:hover {
	background-color: #b35052;
	color: #dddddd;
	padding: 8px 128px;
	border-radius: 10px;
}

button.sup-btn:active {
	color: #ffffff;
	background-color: #ff7c31;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 1px;
}

.bttn {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
	vertical-align: middle;
	color: #393D49;
	background-color: #009688;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	font-family: "微软雅黑";
	font-size: 15px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	outline: 0;
	padding: 8px 16px;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.5s ease-out 0s;
	border-radius: 2px;
}
.bttn:hover {
	background-color: #5FB878;
	color: #393D49;
	border-radius: 10px;
}

.bttn:active {
	color: #393D49;
	background-color: rgb(66, 133, 85);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 1px;
}
p.showd {
	text-align: center;
	color: #FFB800;
	font-size: 18px;
}

p.showd2 {
	text-align: center;
	color: #5FB878;
	font-size: 20px;
}

span.sh1 {
	text-align: center;
	color: #FF5722;
	font-size: 20px;
}

span.sh2 {
	text-align: center;
	color: #5FB878;
	font-size: 20px;
}

span.sh3 {
	text-align: center;
	color: #1E9FFF;
	font-size: 20px;
}
span.sh4 {
	text-align: center;
	color: #FFB800;
	font-size: 20px;
}
input {
	font-size: 25px;
	text-align: center;
	color: #009688;
	border: none;
    outline: none;
	border-bottom: 1px solid #009688;
	height: 40px;
	width: 350px;
	background-color: #2F4056;
}
input:focus{
	height: 40px;
	text-align: center;
	font-size: 25px;
	color: #5FB878;
	outline: none;
	border-bottom: 2px solid #5FB878;
	background-color: #2F4056;
 }

